<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Components</title>
	  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
 	  <link rel="stylesheet" type="text/css" href="layout.css">
</head>

<body>
	<div class="outer">
		
	<!-- TOP NAVIGATION --> 
    <div class="topnav">Top Nav</div>
		
	 <!-- HERO SECTION -->
    <div class="page">
      <div class="hero_content">
					<div class="hero_text">	
						<h1>Lululemon</h1>
                    		<p>Loren Ispum</p></div>
					<img src="img/hero_img.jpg" alt="Running"/>
			</div>
		
<!-- NEXT SECTION -->	
	<div row>
	  <div class="content">
			        <div style="display: flex; flex-direction: row; justify-content: space-between;align-items: center;">
          <div style="flex: 1; padding: 0px 12px;"><img src="img/img2.jpg" alt="lululemon_img"/> <div class="text">Lorem Ipsum<br>d laudantium consequatur vel odit voluptas et unde</div></div>
          <div style="flex: 1;padding: 0px 12px;"><img src="img/img3.jpg" alt="lululemon_img"/><div class="text">Lorem Ipsum<br>d laudantium consequatur vel odit voluptas et unde</div></div>
     
		</div>
	  </div>
	</div>
		
<!-- NEXT SECTION -->
		<div class="content2"><img src="img/img4.jpg" alt="lululemon_img"/></div>
		<h2>Lululemon<br></h2>
		<div class="text2">d laudantium consequatur vel odit voluptas et unde</div>
		
	</div>	
</div>		
</body>
</html>
